@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

    /* MUI 충돌 방지용 (기존에 있다면 유지) */
@layer base {
    *, ::after, ::before, ::backdrop, ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}